{% extends 'base.html' %}

{% block title %}
    <title>Change password</title>
{% endblock title %}

{% block content %}
    <div class="grid_container">
        <div class="login-image"></div>

        <div class="change_password">

            <h2>Change password</h2>

            <form method='POST'>
                {% csrf_token %}

                {% for field in form.visible_fields %}
                    <ul>
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    <p>{{ field.label_tag }} {{ field }}</p>

                {% endfor %}

                <!--<input class="change_button" type="submit" value="Change">-->
                <button class="change_button" type="submit" value="Change">Change</button>

            </form>
        </div>
    </div>
{% endblock content %}