{% extends 'base.html' %}

{% block title %}
    <title>Profile</title>
{% endblock title %}

{% block content %}
    <div class="grid_container">
        <div class="login-image"></div>

        <div class="edit_profile_form">
            <h2>Edit your profile</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% for field in user_form.visible_fields %}
                    <ul>
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>

                    {% if field.label != 'Password' %}
                        <p>{{ field.label_tag }}{{ field }}</p>
                    {% endif %}

                {% endfor %}

                {% for field in profile_form.visible_fields %}
                    <ul>
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>

                    <p>{{ field.label_tag }}{{ field }}</p>

                {% endfor %}

                <button type="submit">Save</button>
            </form>
        </div>
    </div>
{% endblock content %}