{% extends 'base.html' %}
{% load static %}
{% load account_tags %}

    {% block title %}
        <title>Profile</title>
    {% endblock title %}

    {% block content %}
        <div class="grid_container">
            <div class="login-image"></div>

            <div class="profile_form">
                <h2>Profile</h2>
                <br>

                <table>
                    <tr>
                        <td>
                            {% if user.profile.avatar|has:'url' %}
                                <img src="{{ user.profile.avatar.url }}">
                            {% else %}
                                <img src="{% static 'img/avatar.png' %}">
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><b>Username: </b></td>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <td><b>First Name: </b></td>
                        <td>{{ user.first_name }}</td>
                    </tr>
                    <tr>
                        <td><b>Last Name: </b></td>
                        <td>{{ user.last_name }}</td>
                    </tr>
                    <tr>
                        <td><b>Email: </b></td>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td><b>Joined: </b></td>
                        <td>{{ user.date_joined }}</td>
                    </tr>
                </table>

                <br><br>

                {% if user.is_authenticated %}
                    <a href="{% url 'accounts:edit_profile' %}">Edit</a><br>
                    <a href="{% url 'accounts:change_password' %}">Change Password</a>
                {% endif %}
            </div>
        </div>
    {% endblock content %}