{% extends 'base.html' %}

{% block title %}
    <title>Register</title>
{% endblock title %}

{% block content %}
    <div class="grid_container">
        <div class="login-image">

        </div>
        <div class="register_form">
            <form id='register-form' method="post" data-validation="{% url 'accounts:validate_register_form' %}">
                <h2>Register</h2>
                {% csrf_token %}
                {% for field in form.visible_fields %}
                    <p>{{ field.label_tag }}{{ field }}</p>
                    {% for error in field.errors %}
                        <div class="error">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <button type="submit">Sign up</button>
            </form>
        </div>
    </div>
{% endblock %}