{% extends 'base.html' %}

{% block title %}
    <title>Password Reset</title>
{% endblock title %}

{% block content %}
    <div class="grid_container">
        <div class="login-image"></div>

        <div class="reset_password">

            <h2>Password Reset</h2>
            <p>Enter your email below and click "Submit". We will send you the reset link to you email immediately.</p>

            <form method="post">
                {% csrf_token %}

                {% for field in form.visible_fields %}
                    <ul>
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>

                    <p>{{ field.label_tag }}{{ field }}</p>

                {% endfor %}

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock content %}