{% extends 'admin/base_site.html' %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">{{ site_header|default:'Explorea Admin' }}</a>
    </h1>
{% endblock %}

{% block content %}
    <h1>Events import</h1>
    <div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit">Upload CSV</button>
            <a href='/admin/events/event/' style="margin-left:20px">Back</a>
        </form>
    </div>
{% endblock %}

