@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

/*position footer to the bottom of the page*/
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

/*****************************************************/

* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
}

a:focus {
    outline: none;
}

/*--------------- layout rules ----------------*/

/*================ HEADER =====================*/

header {
    height: 3rem;
    width: 100%;
    background-color: white;
    box-shadow: 0 3px 5px rgba(200,200,200,1);
    display: flex;
    white-space: nowrap;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-section {
    line-height: 3rem;
}

#logo-container {
    text-align: left;
}

#nav-buttons {
    margin: auto;
    text-align: center;
}

#user-buttons {
    text-align: right;
}

.nav-button {
    margin: 0 1rem;
    font-weight: 700;
}

.nav-button:hover {
    color: #cca620;
}

#logo-container {
    font-size: 1.5em;
}

.cart {
    position: relative;
}

.fa-shopping-cart {
    font-size: 1.3rem;
}

.fa-circle {
    color: #cca620;
    font-size: 1.1rem;
    position: absolute;
    top: -30%;
    right: -15%;
}

.cart-count {
    color: black;
    font-size: 0.8rem;
    position: absolute;
    top: -115%;
    right: 7%;
}

/*================== Header form =====================*/

#header-searchbox {
    /*margin-right: auto;*/
}

#header-searchbox input {
    border: none;
    border-bottom: solid rgb(200,200,200) 1px;
    border-radius: 15px;
    padding-left: 20px;
    padding-bottom: 2px;
    color: #a58006;
}

/*====================== FOOTER ========================*/

footer {
  background-color: rgba(255,255,255,1);
  height: 200px;
  display: flex;
  justify-content: center;
}

footer section {
  padding: 1em 0;
  width: 200px; /*need to specify width in order section to not stretch to max*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer section * {
  text-align: center;
}

footer section a {
  color: #4A4A4A;
  font-size: 0.8em;
  text-align: center;
}

footer section a:hover {
  color: #000;
}

/*======================== INDEX CONTENT ===========================*/

.main-banner {
    background-position: top;
    background-repeat: no-repeat;
    background-image: url('/static/img/chiringito_big.jpeg');
    height: 800px;

    display: grid;
    grid-template-rows: 15% 25% 30% 1fr;
    grid-template-columns: 10% repeat(6, 1fr) 10%;
    align-items: center;
    justify-items: center;
    grid-column-gap: 10px;
}

.claim {
    grid-area:2 / 3 / 3 / 7;
    font-size: 80px;
}

.main-banner a {
    height: 45px;
    width: 200px;
    line-height: 45px;

    font-size: 20px;
    text-align: center;

    background-color: #cca620;
    color: white;
    border-radius: 1em;
}

.main-banner a:hover {
    background-color: #edc647;
}

.main-banner a:nth-of-type(1) {
    grid-area: 3 / 3 / 4 / 4;
}

.main-banner a:nth-of-type(2) {
    grid-area: 3 / 4 / 4 / 5;
}

.main-banner a:nth-of-type(3) {
    grid-area: 3 / 5 / 4 / 6;
}

.main-banner a:nth-of-type(4) {
    grid-area: 3 / 6 / 4 / 7;
}

/*=========== LOGIN CONTENT ==============*/

.grid_container {
    height: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
}

.login-image {
    background-position: left;
    background-repeat: no-repeat;
    background-image: url('/static/img/chiringito.jpeg');
    grid-area: 1 / 1 / 2 / 2;
}

/*=========== EVENT LISTING CONTENT ===========*/

.thin-banner {
    height: 400px;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url('/static/img/skyscrapers_cropped.jpeg');
    position: relative;
}

.thin-banner h1 {
    font-size: 60px;
    bottom: 50%;
    left: 5%;
    text-align: center;
    position: absolute;
}

.event-filters {
    /*temporary rule - just placeholder*/
    height: 100px;
}

.event-category-filters {
    text-align: center;
    display: flex;
    justify-content: center;
}

.button-gold {
    margin: 0 30px;
    padding: 10px;
    font-size: 20px;
    background-color: #cca620;
    color: white;
    border-radius: 1em;
    height: 45px;
    width: 200px;
}

.button-gold:hover {
    background-color: #edc647;
}

/*---------------------------------------*/

.tile-container {
    padding: 0 200px;
    margin: 3em auto;
}

.tile-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, 400px);
    grid-gap: 30px;
    margin: auto;
}

.event-tile {
    display: grid;
    grid-template-rows: 2fr 1fr;
    white-space: nowrap;
    min-width: 200px;
}

.event-tile img {
    max-width: 100%;
    max-height: 100%;
    background-color: white;
}

.event-details {
    padding: 1em;
}

.event-details p:nth-of-type(1) {
    font-style: italic;
}

.event-details p:nth-of-type(2) {
    font-weight: 600;
    font-size: 1.2em;
}

.not-available {
    width: 100%;
    height: 100%;
    margin: auto;
    background-image: url('/static/img/camera.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: solid #cca620 1px;
}

/*=========== LOGIN FORM ================*/

.login_form,
.profile_form,
.edit_profile_form,
.change_password,
.reset_password,
.create_event_form,
.event_detail_form,
.my_event_form,
.new_run_form,
.update_run_form,
.register_form {
    grid-area: 1 / 2 / 2 / 3;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    white-space: nowrap;
}

.login_form h2,
.profile_form h2,
.edit_profile_form h2,
.change_password h2,
.reset_password h2,
.create_event_form h2,
.event_detail_form h2,
.my_event_form h2,
.new_run_form h2,
.update_run_form h2,
.register_form h2 {
    font-size: 40px;
    height: 50px;
    margin-bottom: 50px;
}

.login_form p,
.profile_form td,
.edit_profile_form p,
.change_password p,
.reset_password p,
.event_detail_form p,
.register_form p {
    height: 2.6rem;
    line-height: 2.6rem;
    margin: 1rem auto;
    /*display: flex;*/
}

.login_form label,
.edit_profile_form label,
.change_password label,
.reset_password label,
.create_event_form label,
.event_detail_form label,
.new_run_form label,
.update_run_form label,
.register_form label {
    display: inline-block;

    /*text-align: right;
    padding-right: 50px;*/

    width: 12rem;
}

.login_form input,
.edit_profile_form input,
.change_password input,
.reset_password input,
.create_event_form input,
.event_detail_form input,
.new_run_form input,
.update_run_form input,
.register_form input {
    width: 400px;
    font-size: 1.5em;
    margin-bottom: 15px;
    padding-bottom: 5px;
    margin-left: 50px;
    border: none;
    border-bottom: solid rgb(200,200,200) 1px;
}

.login_form button,
.register_form button {
    margin-top: 20px;
    width: 200px;
}

.login_form .forgot-pass {
    display: inline-block;
    width: 400px;
    text-align: right;
    color: #a58006;
}

.login_form .forgot-pass:hover {
    font-weight: 700;
    color: black;
}

 /*============== PROFILE FORM ==============*/

.profile_form a {
    border: none;
    border-radius: 1em;
    padding: 0.5em 1.5em;
    font-size: 20px;
    background-color: buttonface;
    margin-left: 400px;

}

.profile_form a:hover {
   background-color: #cca620;
   color: white;
}

/*=========== CHANGE PASSWORD =============*/

.change_button {
   border: none;
   border-radius: 1em;
   padding: 0.5em 1.5em;
   margin: 0.1 0.1 0.1 0.1;
   font-size: 20px;
   background-color: buttonface;
}

.change_button:hover {
    background-color: #cca620;
    color: white;
}

/*=========== EVENT DETAIL =================*/

.event_detail_form_link {
    display: inline-block;
    width: 400px;
    text-align: left;
    white-space: nowrap;
}

.event_detail_form_link a {
    color: #a58006;
}

.event_detail_form_link a:hover {
    color: black;
}

.evenRun a{
    color: #a58006;
}

.evenRun a:hover {
    color: black;
}



/*================ MY EVENT ================*/

.my_event_form a {
    color: #a58006;
}

.my_event_form a:hover {
    color: black;
}

/*=========== SHARED ELEMENTS ==============*/

button {
    border: none;
    border-radius: 1em;
    padding: 0.5em 1.5em;
    font-size: 20px;
}

button:hover {
    background-color: #cca620;
    color: white;
}

/*------------Event Filters--------*/

.event-filters {
    /*display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0;*/
    display: grid;
    grid-template-rows: 50px auto;
    grid-template-columns: 350px 350px 300px 300px 100px;
    align-content: top;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
    min-height: 100px;
}

.errors {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.event-filters .filter {
    height: 80px;
}

.event-filters .form-filter:nth-of-type(1) {
    grid-area: 1 / 1 / 2 / 2;
}

.event-filters .form-filter:nth-of-type(2) {
    grid-area: 1/ 3 / 2 / 4;
}

.event-filters .form-filter:nth-of-type(3) {
    grid-area: 1/ 2 / 2 / 3;
}

.event-filters .form-filter:nth-of-type(4) {
    grid-area: 1/ 4 / 2 / 5;
}

.event-filters button {
    grid-area: 1 / 5 / 2 / 6;
}

div.errors[for="date_from"] {
    grid-area: 2 / 1 / 3 / 2;
}

div.errors[for="date_to"] {
    grid-area: 2 / 2 / 3 / 3;
}

div.errors[for="guests"] {
    grid-area: 2 / 3 / 3 / 4;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:none;
    border-bottom: solid black 1px;
    padding: 0.5em 1.5em;
    background-color: white;
}

.error {
    margin-top: 5px;
    color: #b22929;
}

/*----------PAGINATION------------*/

.pagination {
    margin: 3em;
    display: flex;
    justify-content: center;
}

.pagination * {
    padding: 0.5em 1em;
}

.pagination-num_pages{
    padding: 0;
}

.pagination .active-pagination {
    background-color: #cca620;
}

.pagination .inactive-pagination {
    background-color: #c9c9c9;
}

/*-----------Event Page------------*/

.main-image {
    height: 500px;
    width: 400px;
    padding-bottom: 20px;
}

.main-image img {
    height 100%;
    width: 100%;
}

/*----------CAROUSEL SETUP----------*/
.owl-carousel {
    height: 400px;
    width: 500px;
    position: relative;
}

.owl-nav {
    font-size: 2rem;
}

.owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    left: 3%;
}

.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    right: 3%;
}

