{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>This is a very special 404</h1>

    <p>There is nothing at this URL. Try another one. Maybe you'll be lucky</p>
{% endblock %}