<header>
    <div class="header-section" id="logo-container">
        <a class="nav-button" href="{% url 'index' %}">
            Explorea
        </a>
    </div>

    <div class="header-section" id="nav-buttons">
        <a href="{% url 'events:events' 'all' %}" class="nav-button">
            Events
        </a>
        <a href="{% url 'events:my_events' %}" class="nav-button">
            My Events
        </a>
        <a href="{% url 'accounts:host_list' %}" class="nav-button">
            Hosts
        </a>
    </div>

    <div class="header-section" id="header-searchbox">
        <form action="{% url 'events:search' %}" method="get">
            <input type="text" name='q' placeholder="search...">
        </form>
    </div>

    <div class="header-section" id="user-buttons">
        <a href="{% url 'cart:detail' %}" class="nav-button cart" title="Your Cart">
            <i class="fas fa-shopping-cart"></i>
            {% with cart|length as count %}
                {% if count > 0 %}
                    <i class="fas fa-circle"></i>
                    <span class="cart-count">{{ count }}</span>
                {% endif %}
            {% endwith %}
        </a>

        {# {% if user.profile.is_host %} #}
            <a href="{% url 'events:create_event' %}" class="nav-button" title="Add Event">
                <i class="fas fa-plus-circle"></i>
            </a>
        {# {% endif %} #}

        {% if user.is_authenticated %}
            <a href="{% url 'accounts:profile' %}" class="nav-button" title="Profile">
                {{ user.username }}
                <i class="fas fa-user"></i>
            </a>
            <a href="{% url 'accounts:logout' %}" class="nav-button">
                logout
            </a>
        {% else %}
            <a href="{% url 'accounts:login' %}" class="nav-button">
                log in
            </a>
            <a href="{% url 'accounts:register' %}" class="nav-button">
                sign up
            </a>
        {% endif %}
    </div>
</header>