{% extends "base.html" %}

{% block title %}<title>New Event</title>{% endblock title %}

{% block content %}
    <div class="grid_container">
        <div class="not-available"></div>

        <h2>Edit event {{ event.name }}</h2>

        <div class="create_event_form">
            <form method="post" enctype="multipart/form-data">
                <h2>New Event</h2>
                {% csrf_token %}

                {% for field in form.visible_fields %}
                    <p>{{ field.label_tag}}{{ field }}</p>
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                {% endfor %}

                {{ file_form.as_p }}

                <br><button class="change_button" type="submit" value="Save">Save</button>
            </form>
        </div>
    </div>
{% endblock content %}

