{% extends "base.html" %}

    {% block title %}
        <title>New Run</title>
    {% endblock title%}

    {% block content %}
        <div class="grid_container">
            <div class="not-available"></div>

            <div class="new_run_form">
                <h2>New Run</h2>

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <!--<input type="submit" value="Save">-->
                    <br><button class="change_button" type="submit" value="Save">Save</button>
                </form>
            </div>
        </div>
    {% endblock content %}