{% extends 'base.html' %}

{% block content %}

    <form action="">
        {% csrf_token %}
        <p>Are you sure you want to delete the event run for <strong>{{ object.event }}</strong> on <strong>{{ object.date }}</strong>?</p>
        <button type="submit">Delete</button>
        <a  class="button-gold" href="{{ object.event.get_absolute_url }}">Cancel</a>
    </form>

{% endblock %}