{% extends 'base.html' %}
{% load event_tags %}

    {% block title %}
        <title>Event Listing</title>
    {% endblock title%}

    {% block content %}

        <div class="thin-banner">
            <h1>What do we have here ...</h1>
        </div>

        <form class="event-filters" action="{{ request.get_full_path }}" method="GET">
            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}
            <!--{# <input type="hidden" name='q' value={% if 'q' in request.GET %} {{ request.GET.q }} {% endif %}> #}-->

            {% for field in filter_form.visible_fields %}
                <div class="form-filter">
                    {{ field.label_tag }} {{ field }}
                </div>

                <div class="errors" for={{ field.name }}>
                    {% for error in field.errors %}
                    <div class="error">
                        {{ error }}
                    </div>
                    {% endfor %}
                </div>


            {% endfor %}
            <button type="submit">Filter</button>
        </form>


        <div class="event-category-filters">
            <!--by clicking these buttons we should be taken to event listing, that show us only events of the given event category-->
            <a class="button-gold" href="{% url 'events:events' 'fun' %}">Fun</a>
            <a class="button-gold" href="{% url 'events:events' 'experience' %}">Experience</a>
            <a class="button-gold" href="{% url 'events:events' 'sights' %}">Sights</a>
            <a class="button-gold" href="{% url 'events:events' 'relax' %}">Relax</a>
            <a class="button-gold" href="{% url 'events:events' 'all' %}">All</a>
        </div>

        <div class="tile-container">
            {% if event_runs %}
                <div class="tile-grid">
                    {% for eventrun in event_runs %}
                        <a href="{{ event.get_absolute_url }}" class="event-tile">

                            {% if eventrun.event|has:'thumbnail' %}
                                <img src="{{ eventrun.event.thumbnail.url }}">
                            {% else %}
                                <div class="not-available"></div>
                            {% endif %}


                            <div class="event-details">
                                <p>{{ eventrun.event.host }}</p>
                                <p>{{ eventrun.event.name }}</p>
                                <p>{{ eventrun.event.location }}</p>
                                <p><strong>Next:</strong> {{ eventrun.date }}</p>
                                <p><strong>Price:</strong> $ {{ eventrun.price }}</p>
                                <p><strong>Seats:</strong> {{ eventrun.seats_available }}</p>
                                <hr>
                                <p><strong>Price From:</strong> $ {{ eventrun.event.eventrun_set.all|active|min_attr_value:"price" }}</p>
                                <p><strong>Seats Up To:</strong> {{ eventrun.event.eventrun_set.all|active|max_attr_value:"seats_available" }}</p>

                            </div>
                        </a>
                    {% endfor %}

                    {% else %}
                        <div class="info empty-search">No events found ...</div>
                    {% endif %}
                </div>
        </div>

        {% include 'pagination.html' with page=page_obj %}

    {% endblock content %}
