{% extends 'base.html'%}

    {% block content %}
        <div class="main-banner">
            <p class="claim">Let's do something</p>
            <a href="{% url 'events:events' 'fun' %}">Fun</a>
            <a href="{% url 'events:events' 'experience' %}">Experience</a>
            <a href="{% url 'events:events' 'sights' %}">Sights</a>
            <a href="{% url 'events:events' 'relax' %}">Relax</a>
        </div>
    {% endblock %}
