{% extends 'base.html' %}

{% block title %}
    <title>My Events</title>
{% endblock title %}

{% block content %}
    <div class="grid_container">
        <div class="not-available"></div>

        <div class="my_event_form">

            <h2>My Events</h2>
            <a href="{% url 'events:create_event' %}">ADD EVENT</a>

            <table style="text-align:center;">
                <tr>
                    <th>NAME</th>
                    <th>LOCATION</th>
                </tr>
                {% for event in events %}
                <tr>
                    <td>
                        <a href="{% url 'events:detail' event.slug %}">{{ event.name }}</a>
                    </td>
                    <td>{{ event.location }}</td>
                    <dt>
                        <a href="{% url 'events:update_event' event.slug %}">UPDATE</a>
                    </dt>
                    <dt>
                        <a href="{% url 'events:delete_event' event.slug %}">DELETE</a>
                    </dt>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock content %}