{% extend "base.html" %}

    {% block title %}
        <title>Update Run</title>
    {% endblock title%}

    {% block content %}
        <div class="grid_container">
            <div class="not-available"></div>
            <div class="update_run_form">
                <h2>{{ form.instance.event.name }}</h2>

                <form method='POST'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <!--<input type="submit" value="Save">-->
                    <br><button class="change_button" type="submit" value="Save">Save</button>
                </form>
            </div>
        </div>
    {% endblock content %}